<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yiming1234.study.mapper.TokenMapper">

    <insert id="insertToken" parameterType="cn.yiming1234.study.entity.Token">
        INSERT INTO token (token, time)
        VALUES (#{token}, #{time})
    </insert>

    <select id="selectLatestToken" resultType="cn.yiming1234.study.entity.Token">
        SELECT * FROM token ORDER BY time DESC LIMIT 1
    </select>

    <select id="selectAllTokens" resultType="cn.yiming1234.study.entity.Token">
        SELECT * FROM token
    </select>

</mapper>